<?xml version="1.0" encoding="utf-8"?>
<ColdMars>
	<Logger>
		<LogFile>E:\!ColdMars_log.txt</LogFile>
		<Debug clear="1">On</Debug>
		<Release clear="0">On</Release>
	</Logger>

	<ViewAngle>50</ViewAngle>

	<Albedo>Albedo.bmp</Albedo>
	<MarsTone>0x00c36b15</MarsTone>

	<OrbitDir>E:\Mars\Orbits_txt</OrbitDir>
	<BaseHeight>3396000</BaseHeight>

	<TemperartureAltitudeMax>70</TemperartureAltitudeMax>
	<TemperatureInterpolateCount>30</TemperatureInterpolateCount>

	<MegdrDefault>2</MegdrDefault>
	<Megdr id="2">
		<RadiusFile>E:\Mars\MEGDR\016\MEGR90N000EB.IMG</RadiusFile>
		<TopographyFile>E:\Mars\MEGDR\016\MEGT90N000EB.IMG</TopographyFile>
		<Lines>2880</Lines>
		<LineSamples>5760</LineSamples>
	</Megdr>

	<PaletteDefault>1</PaletteDefault>
	<Palette id="1" interpolate="128">
		<Color Temperature=" 150">0x0000FF</Color>
		<Color Temperature=" 180">0x00FF00</Color>
		<Color Temperature=" 210">0xFF0000</Color>
	</Palette>
</ColdMars>